.post-metric {
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  color: #718096;
  font-size: 0.9em;
}
.post-metric i {
  margin-right: 4px;
  font-size: 0.95em;
}
[data-user-color-scheme="dark"] .post-metric {
  color: #a7a9ad;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}